{% extends 'layout.html' %}
{% block title %}Users{% endblock title %}
{% block content %}
<div class="home-wrap no-border">
    <h1>Created by <a style="text-decoration:none; color:#ec6611" href="https://www.facebook.com/toaxoy">Tevfik Oguzhan Aksoy &#129409</a></h1> 
    <h1>Reach me out on:</h1>
    <ul class="about-ul">
        <h1><li><a style="text-decoration:none; color:#ec6611" href="https://www.linkedin.com/in/AxoyTO/">LinkedIn</a></li></h1>
        <h1><li><a style="text-decoration:none; color:#ec6611" href="https://www.github.com/AxoyTO/">GitHub</a></li></h1>
        <h1><li><a style="text-decoration:none; color:#ec6611" href="https://vk.com/toaxoy">VKontakte</a></li></h1>
        <h1><li><a style="text-decoration:none; color:#ec6611" href="https://www.instagram.com/toaksoy/">Instagram</a></li></h1>
    </ul>
</div>
{% endblock content %}