{% extends 'layout.html' %}
{% block title %}Ask Question{% endblock title %}

{% block content %}
<div class="question-wrap">
    <div class="question-form">
        <form action="" method="POST" id="qform">
            <legend>Question</legend>
            <div class="question-group">
                <label for="question">What's your question?</label>
                <textarea spellcheck="true" autofocus="true" minlength="12" maxlength="300" placeholder="Enter your question here" namerows="5" cols="60" name="question" id="question" form="qform" required></textarea>
                <input type="checkbox" name="terms" id="terms" required checked>
                <label for="terms">I hereby confirm that this question is asked by me and does not contain anything that may include any kind of illegal activity.</label>
                <input type="submit" name="submit" value="Ask">
            </div>
        </form>
    </div>
</div>

{% endblock content %}