*
!/**/
!*.*

Projects/flask-blog/flaskblog/static/profile_pics/*.jpeg
Projects/flask-blog/flaskblog/static/profile_pics/*.jpg
Projects/flask-blog/flaskblog/static/profile_pics/*.png

.idea
*.zip
*.txt
!requirements.txt
.*.py[c]+
*.json
*.xlsx
*.csv
*.pyc
*tempCodeRunner*
photo-*.jpg
.coverage
htmlcov/

instance/
dist/
build/
*.egg-info/

#Environment
*\venv
*/venv

#Cache
__pycache__/
.pytest_cache/
