{% extends "base.html" %}

{% block body %}
<div class="table-container">
    <table>
        <!-- Table Header -->
        <thead>
            <tr>
                <th>Index</th>
                <th>Movie Title</th>
            </tr>
        </thead>

        <!-- Table Elements (Rows) -->
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{movie}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p align="center"><button><a href="/add_movie"><h2>Add a movie</h2></a></button></p>
{% endblock %}