{% extends 'layout.html' %}
{% block title %}About{% endblock title %}
{% block content %}
    <div class="home-container">
        <h5 style="display:inline">Created By: </h5> <span style="font-size:20px">Tevfik Oguzhan Aksoy</span>
        <hr> 
        <h5 style="display:inline">LinkedIn: </h5> <a href="https://linkedin.com/in/axoyto">LinkedIn/TevfikOguzhanAksoy</a> 
        <hr>
        <h5 style="display:inline">GitHub: </h5> <a href="https://github.com/AxoyTO">GitHub/AxoyTO</a>         
    </div>
{% endblock content %}