{% extends 'base.html' %}
{% block title %}Exchanges{% endblock title %}

{% block content %}

<div class="main-body">
    <div class="body-nav container">
        <div class="body-nav-btns">
            <h1><i class="fa-solid fa-coins"></i> Top Exchanges by Trade Volume</h1>
        </div>
    </div>
    <div class="exchanges-tab">
        <table class="exchanges-table">
            <tr>
                <th>#</th>
                <th style="text-align:left">Exchange</th>
                <th>Year Established</th>
                <th>Trust Score</th>
                <th>24h Trade Volume</th>
            </tr>
            {% for exchange in exchanges %}
                <tr>
                    <td class="exchange-item" style="padding-left:1%">{{exchange.trust_score_rank}}</td>
                    <td class="exchange-item" style="text-align:left;"><a href="{{exchange.url}}"><img src="{{exchange.image}}" alt="{{exchange.name}}">{{exchange.name}}</a></td>
                    <td class="exchange-item" style="padding-left:0%; padding-right:0%">{{exchange.year_established}}</td>
                    <td class="exchange-item">{{exchange.trust_score}}/10</td>
                    <td class="exchange-item">${{exchange.trade_volume_24h}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}