{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}
{% block content %}
<header>
<div class="nav-head">
    <img style="width:8%; margin-right:10px; margin-bottom:10px;" src="{{url_for('static', filename='img/weather-app.png') }}" alt="">
    <h1 id="nav-title">
        <a href="{{url_for('cities.home')}}">WeatherApp</a>
    </h1>
</div>
<nav>
    <ul>
        <li><a href="{{ url_for('main.about') }}">ABOUT</a></li>
        <li><span id="clock"></span></li>
    </ul>
</nav>
</header>
<div class="grid-container">
    <div class="grid-item">
        <div class="textimg">
            <img style="height:auto; margin-bottom:0" alt="" width="278" height="278" class="avatar avatar-user width-full border color-bg-default" src="https://media-exp1.licdn.com/dms/image/C4D03AQFYiO_EER6Dvg/profile-displayphoto-shrink_800_800/0/1653989956739?e=1665014400&v=beta&t=uWPOJCoYzO0jS6rwieo17CN-MziFntYXnIUgqDFcEE8">
            <ul>
                <li style="left:0">Made with <img style="width:5%; margin:0;" src="{{ url_for('static', filename='img/hearts.png') }}">by <b>Tevfik Oguzhan Aksoy</b></li>
                <li><img src="{{ url_for('static', filename='img/github.png') }}"> <b>GitHub: <a href="https://github.com/AxoyTO">AxoyTO</a></b></li>
                <li><img src="{{ url_for('static', filename='img/linkedin.png') }}"><b>LinkedIn: <a href="https://www.linkedin.com/in/axoyto/">AxoyTO</a></b></li>
                <li><img src="{{ url_for('static', filename='img/instagram.png') }}"><b>Instagram: <a href="https://www.instagram.com/toaksoy/">toaksoy</a></b></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
