{% extends 'base.html' %}
{% from "macros.html" import renderform %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="main-container" id="result">
            <header>
            <div class="nav-head">
                <img style="width:8%; margin-right:10px; margin-bottom:10px;" src="{{url_for('static', filename='img/weather-app.png') }}" alt="">
                <h1 id="nav-title">
                    <a href="{{url_for('cities.home')}}">WeatherApp</a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.about') }}">ABOUT</a></li>
                    <li><span id="clock"></span></li>
                </ul>
            </nav>
            </header>
            <div class="main-wrapper">
            <form class="add-form" method="POST">
                {{ form.csrf_token }}
                <form autocomplete="off" action="/action_page.php">
                    <div class="autocomplete" style="width:300px;">
                        {{form.city(id='cities')}}
                    </div>
                    {{form.submit}}
                </form>
                
                <br>
            </form>
            <div class="btns">
                <div class="btns-wrapper">
                    <button class="loadbtn btn btn-primary" id="loadButton">Refresh All <i class="fa fa-refresh" style="font-size:24px" aria-hidden="true"></i></button>
                    <button class="deletebtn btn btn-primary" id="deleteButton">Delete All <i class="fa fa-refresh" style="font-size:24px" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="grid-container">
                {% for city in cities %}
                <div class="grid-item" id="#cityresult">
                    <button onclick="javascript:toggleDelete('{{city.id}}')" class="grid-deletebtn btn btn-primary" id="del{{city.id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button onclick="javascript:toggleReload('{{city.id}}')" class="grid-loadbtn btn btn-primary" id="btn{{city.id}}"><i class="fa fa-refresh" style="font-size:24px" aria-hidden="true"></i></button>
                    <ul>
                        {% set file = 'img/'+city.icon+'.png'%}
                        <img style="display:inline; position:relative; right:-8%" src="{{ url_for('static', filename=file) }}">
                        <h5><img style="width:8%" src="https://countryflagsapi.com/png/{{city.countrycode}}" alt="Flag"/> {{ city.name }}</h5>
                        <h6>{{ city.description }}</h6>
                        <li><small>Last check at {{city.lastcheck}} local time({{city.tz}}).</small></li>
                        <li><img src="{{ url_for('static', filename='img/temperature.png') }}"> <b>Temperature:</b> {{ city.temperature }}</li>
                        <li><img style="left:-3%" src="{{ url_for('static', filename='img/feelslike.png') }}"><b>Feels Like:</b> {{ city.feelslike }}</li>
                        <li><img style="left:-3%" src="{{ url_for('static', filename='img/humidity.png') }}"><b>Humidity:</b> {{ city.humidity }}</li>
                        <li><img src="{{ url_for('static', filename='img/pressure.png') }}"><b>Pressure:</b> {{ city.pressure }}</li>
                        <li><img src="{{ url_for('static', filename='img/sunrise.png') }}"><b>Sunrise:</b> {{ city.sunrise }}</li>
                        <li><img src="{{ url_for('static', filename='img/sunset.png') }}"><b>Sunset:</b> {{ city.sunset }}</li>
                    </ul>     
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<script>
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var all_cities = {{ all_cities | safe }};

/*initiate the autocomplete function on the "myInput" element, and pass along the all_cities array as possible autocomplete values:*/
autocomplete(document.getElementById("cities"), all_cities);

$(function(){
    
    // optional: don't cache ajax to force the content to be fresh
    $.ajaxSetup ({
        cache: false
    });
    
    // on click, load the data dynamically into the #result div
    $("#loadButton").click(function(){
        $("#result").load("https://axoyweather.herokuapp.com/home/reload");
    });

    $("#deleteButton").click(function(){
        if (confirm('Are you sure you want to wipe the database?')){
            $("#result").load("https://axoyweather.herokuapp.com/delete");
        }
    });

});

$(document).ready(function() {
    $("#loadButton").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" style="font-size:24px" role="status" aria-hidden="true"></span>`
      );
    });
});

function toggleReload(id) {
  var btn = document.getElementById(`btn${id}`);

  $(btn).click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" style="font-size:24px" role="status" aria-hidden="true"></span>`
      );

    });

      $.ajax({
        url: `https://axoyweather.herokuapp.com/home/reload/${id}`,
        cache: false
        }).done(function(data) {
            $("#result").html(data);
        });
    btn.click();
}

function toggleDelete(id) {
  var btn = document.getElementById(`del${id}`);

  $(btn).click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" style="font-size:24px" role="status" aria-hidden="true"></span>`
      );

    });

      $.ajax({
        url: `https://axoyweather.herokuapp.com/delete/${id}`,
        cache: false
        }).done(function(data) {
            //if (confirm('Are you sure you want to wipe the database?')){
                $("#result").html(data);
            //}
        });
    btn.click();
}

</script>
{% endblock content %}