<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werkzeug Movie App</title>
    <!-- CSS file for styling the app -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <h1>Werkzeug Movie App</h1>    
    {% block body %}
    <a href="/movies">
       <p align="center" style="margin-top:50px;"><button align="center"><h2 align="center">Go to movies</h2></button></p>
    </a>
    {% endblock body %}
</body>
</html>